/*
Copyright (c) 2022 SWARMBJECT contributors

Redistribution and use in source and binary forms,
with or without modification, are permitted
provided that the following conditions are met:

1. Redistributions of source code must
retain the above copyright notice, this list
of conditions and the following disclaimer.

2. Redistributions in binary form must
reproduce the above copyright notice,
this list of conditions and the following
disclaimer in the documentation and/or other
materials provided with the distribution.

Subject to the terms and conditions of this
license, each copyright holder and contributor
hereby grants to those receiving rights under this
license a perpetual, worldwide, non-exclusive,
no-charge, royalty-free, irrevocable (except for
failure to satisfy the conditions of this license)
patent license to make, have made, use, offer to
sell, sell, import, and otherwise transfer this
software, where such license applies only to
those patent claims, already acquired or hereafter
acquired, licensable by such copyright holder or
contributor that are necessarily infringed by:

(a) their Contribution(s) (the licensed
copyrights of copyright holders and
non-copyrightable additions of contributors,
in source or binary form) alone; or

(b) combination of their Contribution(s)
with the work of authorship to which such
Contribution(s) was added by such copyright
holder or contributor, if, at the time the
Contribution is added, such addition causes
such combination to be necessarily infringed.
The patent license shall not apply to any other
combinations which include the Contribution.

Except as expressly stated above, no rights or
licenses from any copyright holder or contributor
is granted under this license, whether expressly,
by implication, estoppel or otherwise.

DISCLAIMER

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS
AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
SUCH DAMAGE.
*/

/* Balanced binary tree, derived and implemented 
from scratch. It keeps reordering the tree either 
left or rightwise, until it finds a gap. However 
if the beginning or the end of the tree is reached,
then it has to redo the reordering in the opposite 
direction. This could be allievated by storing the 
smallest or the largest gap or both and reordering 
towards that, or by just always continuing the 
reordering so that all the elements are at the side. 
These however while can be faster in some use cases, 
but are slower in others. */

class BalBinTree {

	void* root;
	unsigned int size;
	
	BalBinTree(){
		root = nullptr;
		size = 0;
	}
	
	void eraseLeft(
		std::ds::BinTree* parentTree,
		unsigned int len,
		std::ds::BinTree*(void*) getTree){
		void* node;
		std::ds::BinTree* tree;
		void* parent;
		std::ds::BinTree* right;
		std::ds::BinTree* left;
		while (true){
			parentTree->right = nullptr;
			if (len == 1) {return;}
			left = getTree(parentTree->left);
			if (left->right != nullptr){
				right = getTree(left->right);
				right->parent = left->parent;
				right->left = parentTree->left;
				left->parent = left->right;
				parentTree->left = left->right;
				left->right = nullptr;
				left = right;
			}
			left->right = left->parent;
			left->parent = parentTree->parent;
			parent = parentTree->left;
			parentTree->parent = parent;
			parentTree->left = nullptr;
			if (left->parent != nullptr){
				parentTree = getTree(left->parent);
				if (parentTree->right == left->right){
					parentTree->right = parent;
				} else {
					parentTree->left = parent;
				}
			} else {
				root = parent;
			}
			if (left->left != nullptr) {return;}
			right = left;
			node = parent;
			len = 8;
			while (parentTree->right != parent){
				if (parentTree->parent == nullptr){
					eraseRight(left, 2, getTree);
					return;
				}
				parent = right->parent;
				right = parentTree;
				parentTree = getTree(parentTree->parent);
				len = len << 1;
			}
			parent = parentTree->parent;
			parentTree->parent = node;
			node = right->parent;
			left->left = node;
			left = getTree(parentTree->left);
			/*Trick to store self node pointer.*/
			right->parent = parentTree->right;
			parentTree->right = nullptr;
			left->parent = parentTree->left;
			parentTree->left = nullptr;
			parentTree = left;
			tree = getTree(parentTree->right);
			len = len >> 2;
			while (tree->right != nullptr){
				parentTree = tree;
				tree = getTree(parentTree->right);
				len = len >> 1;
			}
			tree->right = right->parent;
			right->parent = parentTree->right;
			if (parent != nullptr){
				right = getTree(parent);
				if (right->right == node){
					right->right = parentTree->right;
				} else {
					right->left = parentTree->right;
				}
			} else {
				root = parentTree->right;
			}
			if (tree->left != nullptr){
				getTree(tree->left)->parent = 
					tree->parent;
				parentTree->right = tree->left;
				tree->left = left->parent;
				tree->parent = parent;
				left->parent = right->parent;
				return;
			}
			tree->left = left->parent;
			tree->parent = parent;
			left->parent = parentTree->right;
		}
	}

	void eraseRight(
		std::ds::BinTree* parentTree,
		unsigned int len,
		std::ds::BinTree*(void*) getTree){
		void* node;
		std::ds::BinTree* tree;
		void* parent;
		std::ds::BinTree* right;
		std::ds::BinTree* left;
		while (true){
			parentTree->left = nullptr;
			if (len == 1) {return;}
			right = getTree(parentTree->right);
			if (right->left != nullptr){
				left = getTree(right->left);
				left->parent = right->parent;
				left->right = parentTree->right;
				right->parent = right->left;
				parentTree->right = right->left;
				right->left = nullptr;
				right = left;
			}
			right->left = right->parent;
			right->parent = parentTree->parent;
			parent = parentTree->right;
			parentTree->parent = parent;
			parentTree->right = nullptr;
			if (right->parent != nullptr){
				parentTree = getTree(right->parent);
				if (parentTree->left == right->left){
					parentTree->left = parent;
				} else {
					parentTree->right = parent;
				}
			} else {
				root = parent;
			}
			if (right->right != nullptr) {return;}
			left = right;
			node = parent;
			len = 8;
			while (parentTree->left != parent){
				if (parentTree->parent == nullptr){
					eraseLeft(right, 2, getTree);
					return;
				}
				parent = left->parent;
				left = parentTree;
				parentTree = getTree(parentTree->parent);
				len = len << 1;
			}
			parent = parentTree->parent;
			parentTree->parent = node;
			node = left->parent;
			right->right = node;
			right = getTree(parentTree->right);
			/*Trick to store self node pointer.*/
			left->parent = parentTree->left;
			parentTree->left = nullptr;
			right->parent = parentTree->right;
			parentTree->right = nullptr;
			parentTree = right;
			tree = getTree(parentTree->left);
			len = len >> 2;
			while (tree->left != nullptr){
				parentTree = tree;
				tree = getTree(parentTree->left);
				len = len >> 1;
			}
			tree->left = left->parent;
			left->parent = parentTree->left;
			if (parent != nullptr){
				left = getTree(parent);
				if (left->left == node){
					left->left = parentTree->left;
				} else {
					left->right = parentTree->left;
				}
			} else {
				root = parentTree->left;
			}
			if (tree->right != nullptr){
				getTree(tree->right)->parent = 
					tree->parent;
				parentTree->left = tree->right;
				tree->right = right->parent;
				tree->parent = parent;
				right->parent = left->parent;
				return;
			}
			tree->right = right->parent;
			tree->parent = parent;
			right->parent = parentTree->left;
		}
	}
	
	void insertLeft(
		std::ds::BinTree* tree,
		std::ds::BinTree* left,
		std::ds::BinTree*(void*) getTree){
		while (true){
			tree->right = nullptr;
			void* node = tree->left;
			void* parent = tree->parent; 
			if (node == nullptr){
				if (left->parent != nullptr){
					node = left->left;
					left = getTree(left->parent);
					if (left->right == node){
						left->right = parent;
					} else {
						left->left = parent;
					}
				} else {root = parent;}
				break;
			}
			tree->left = nullptr;
			unsigned int len = 2;
			tree = left;
			left = getTree(left->parent);
			if (left->right == tree->left){
				left->right = parent;
			} else {
				left->left = parent;
				while (true){
					if (left->parent == nullptr){
						while (true){
							len = len >> 1; 
							if (len == 1) {break;}
							parent = tree->left;
							tree = getTree(parent); 
						}
						getTree(node)->parent = tree->left;
						left = getTree(tree->left);
						left->left = node;
						left->right = parent;
						left->parent = tree->parent;
						tree->parent = tree->left;
						insertRight(tree, left, getTree);
						return;
					}
					len = len << 1; 
					parent = tree->parent; 
					tree = left;
					left = getTree(left->parent);
					if (left->right == parent) {break;}
				}
			}
			parent = tree->parent; 
			tree->parent = node;
			if (left->parent != nullptr){
				tree = getTree(left->parent);
				if (tree->right == parent){
					tree->right = node;
				} else {
					tree->left = node;
				}
			} else {root = node;}
			tree = getTree(node); 
			tree->parent = left->parent;
			tree->left = left->left;
			tree->right = left->right;
			tree = getTree(tree->left); 
			parent = node; 
			node = tree->parent; 
			tree->parent = parent;
			parent = left->left;
			while (true){
				len = len >> 1; 
				if (len == 1) {break;}
				parent = tree->right; 
				tree = getTree(parent); 
			}
			left->left = nullptr;
			left->right = nullptr;
			if (tree->right == nullptr){
				tree->right = node;
				left->parent = parent;
				break;
			}
			left->parent = tree->right;
			left = getTree(tree->right);
			left->right = node;
			left->left = parent;
			left->parent = tree->parent;
			tree->parent = tree->right;
		}
	}
	
	void insertRight(
		std::ds::BinTree* tree, 
		std::ds::BinTree* right,
		std::ds::BinTree*(void*) getTree){
		while (true){
			tree->left = nullptr; 
			void* node = tree->right;
			void* parent = tree->parent;
			if (node == nullptr){
				if (right->parent != nullptr){
					node = right->right;
					right = getTree(right->parent);
					if (right->left == node){
						right->left = parent;
					} else {
						right->right = parent;
					}
				} else {root = parent;}
				break;
			}
			tree->right = nullptr;
			unsigned int len = 2;
			tree = right;
			right = getTree(right->parent);
			if (right->left == tree->right){
				right->left = parent;
			} else {
				right->right = parent;
				while (true){
					if (right->parent == nullptr){
						while (true){
							len = len >> 1; 
							if (len == 1) {break;}
							parent = tree->right; 
							tree = getTree(parent); 
						}
						getTree(node)->parent = tree->right;
						right = getTree(tree->right);
						right->right = node;
						right->left = parent;
						right->parent = tree->parent;
						tree->parent = tree->right;
						insertLeft(tree, right, getTree);
						return;
					}
					len = len << 1; 
					parent = tree->parent;
					tree = right;
					right = getTree(right->parent);
					if (right->left == parent) {break;}
				}
			}
			parent = tree->parent; 
			tree->parent = node;
			if (right->parent != nullptr){
				tree = getTree(right->parent);
				if (tree->left == parent){
					tree->left = node;
				} else {
					tree->right = node;
				}
			} else {root = node;}
			tree = getTree(node); 
			tree->parent = right->parent;
			tree->right = right->right;
			tree->left = right->left;
			tree = getTree(tree->right);
			parent = node; 
			node = tree->parent; 
			tree->parent = parent;
			parent = right->right;
			while (true){
				len = len >> 1; 
				if (len == 1) {break;}
				parent = tree->left;
				tree = getTree(parent); 
			}
			right->right = nullptr;
			right->left = nullptr;
			if (tree->left == nullptr){
				tree->left = node;
				right->parent = parent;
				break;
			}
			right->parent = tree->left;
			right = getTree(tree->left);
			right->left = node;
			right->right = parent;
			right->parent = tree->parent;
			tree->parent = tree->left;
		}	
	}
	
	/* Public member functions. */
	
	void clear(std::ds::BinTree*(void*) getTree,
		void(void*) onErase){
		std::ds::BinTree::clear(root,
			getTree, onErase);
		root = nullptr;
		size = 0;
	}
		
	void create(void* src, 
		unsigned int i, unsigned int len,
		void*(void*, unsigned int) getElement,
		std::ds::BinTree*(void*) getTree){
		root = std::ds::BinTree::create(
			src, i, len, getElement, getTree);
		size = len;
	}
		
	void erase(void* node, 
		std::ds::BinTree*(void*) getTree){
		unsigned int len = size; 
		size = len - 1;
		std::ds::BinTree* tree = getTree(node);
		void* parent = tree->parent;
		std::ds::BinTree* parentTree;
		std::ds::BinTree* right;
		std::ds::BinTree* left;
		if (tree->right == nullptr){
			if (tree->left != nullptr){
				getTree(tree->left)->parent = parent;
				if (tree->parent != nullptr){
					parentTree = getTree(parent);
					if (parentTree->left == node){
						parentTree->left = tree->left;
					} else {
						parentTree->right = tree->left;
					}
					tree->parent = nullptr;
				} else {
					root = tree->left;
				}
				tree->left = nullptr;
			} else if (parent == nullptr){
				root = nullptr;
			} else {
				len = len >> 1;
				parentTree = getTree(parent);
				parent = parentTree->parent;
				while (parent != nullptr){
					len = len >> 1;
					parent = getTree(parent)->parent;
				}
				tree->parent = nullptr;
				if (parentTree->left == node){
					eraseRight(parentTree, len, getTree);
				} else {
					eraseLeft(parentTree, len, getTree);
				}
			}
		} else if (tree->left == nullptr){
			getTree(tree->right)->parent = parent;
			if (tree->parent != nullptr){
				parentTree = getTree(parent);
				if (parentTree->left == node){
					parentTree->left = tree->right;
				} else {
					parentTree->right = tree->right;
				}
				tree->parent = nullptr;
			} else {
				root = tree->right;
			}
			tree->right = nullptr;
		} else {
			right = getTree(tree->right);
			if (right->left == nullptr){
				if (parent != nullptr){
					parentTree = getTree(parent);
					if (parentTree->left == node){
						parentTree->left = tree->right;
					} else {
						parentTree->right = tree->right;
					}
				} else {
					root = tree->right;
				}
				right->parent = parent;
				right->left = tree->left;
				getTree(tree->left)->parent = 
					tree->right;
				tree->left = nullptr;
				tree->right = nullptr;
				tree->parent = nullptr;
				if (right->right == nullptr){
					len = len >> 1;
					if (parent != nullptr){
						len = len >> 1;
						parent = parentTree->parent;
						while (parent != nullptr){
							len = len >> 1;
							parent = getTree(parent)->parent;
						}
					}
					eraseLeft(right, len, getTree);
				}
				return;
			}
			node = tree->left;
			/*Trick to store self node pointer.*/
			right->parent = tree->right;
			tree->left = nullptr;
			tree->right = nullptr;
			tree->parent = nullptr;
			tree = right;
			left = getTree(right->left);
			while (left->left != nullptr){
				tree = left;
				left = getTree(left->left);
				len = len >> 1;
			}
			left->left = node;
			node = left->right;
			left->right = right->parent;
			right->parent = tree->left;
			right = left;
			left = getTree(left->left);
			if (parent != nullptr){
				parentTree = getTree(parent);
				if (parentTree->left == left->parent){
					parentTree->left = tree->left;
				} else {
					parentTree->right = tree->left;
				}
			} else {
				root = tree->left;
			}
			left->parent = tree->left;
			if (node != nullptr){
				getTree(node)->parent = 
					right->parent;
				right->parent = parent;
				tree->left = node;
				return;
			}
			right->parent = parent;
			len = len >> 2;
			if (parent != nullptr){
				len = len >> 1;
				parent = parentTree->parent;
				while (parent != nullptr){
					len = len >> 1;
					parent = getTree(parent)->parent;
				}
			}
			eraseRight(tree, len, getTree);
		}
	}
	
	void* first(
		std::ds::BinTree*(void*) getTree){
		return std::ds::BinTree::first(
			root, getTree);
	}
	
	void* find(void* node,
		std::ds::BinTree*(void*) getTree,
		unsigned char(void*, void*) compare){
		return std::ds::BinTree::find(
			root, node, getTree, compare);
	}
		
	void insert(void* node,
		std::ds::BinTree*(void*) getTree,
		unsigned char(void*, void*) compare){
		unsigned int len = size + 1; 
		size = len;
		if (len == 1){
			root = node;
			return;
		}
		
		std::ds::BinTree* parentTree;
		void* parent = root; 
		while (true){
			len = len >> 1; 
			parentTree = getTree(parent); 
			if (len == 1) {break;}
			if (compare(parent, node) == 
				std::Compare::less){
				parent = parentTree->right;
			} else {
				parent = parentTree->left;
			}
		}
		
		if (compare(parent, node) == 
			std::Compare::less){
			if (parentTree->right != nullptr){
				std::ds::BinTree* tree;
				if (compare(parentTree->right, node) ==
					std::Compare::less){
					getTree(node)->parent = parentTree->right;
					tree = getTree(parentTree->right);
					tree->right = node;
					tree->left = parent;
					tree->parent = parentTree->parent;
					parentTree->parent = parentTree->right;
				} else {
					tree = getTree(parentTree->right);
					tree->parent = node;
					tree = getTree(node);
					tree->right = parentTree->right;
					tree->left = parent;
					tree->parent = parentTree->parent;
					parentTree->parent = node;
				}
				insertLeft(parentTree, tree, getTree);
			} else {
				parentTree->right = node;
				getTree(node)->parent = parent;
			}
		} else {
			if (parentTree->left != nullptr){
				std::ds::BinTree* tree;
				if (compare(parentTree->left, node) == 
					std::Compare::less){
					tree = getTree(parentTree->left);
					tree->parent = node;
					tree = getTree(node);
					tree->left = parentTree->left;
					tree->right = parent;
					tree->parent = parentTree->parent;
					parentTree->parent = node;
				} else {
					getTree(node)->parent = parentTree->left;
					tree = getTree(parentTree->left);
					tree->left = node;
					tree->right = parent;
					tree->parent = parentTree->parent;
					parentTree->parent = parentTree->left;
				}
				insertRight(parentTree, tree, getTree);
			} else {
				parentTree->left = node;
				getTree(node)->parent = parent;
			}
		}
	}
	
	void* last(
		std::ds::BinTree*(void*) getTree){
		return std::ds::BinTree::last(
			root, getTree);
	}
	
	void* max(void* node,
		std::ds::BinTree*(void*) getTree,
		unsigned char(void*, void*) compare){
		return std::ds::BinTree::max(
			root, node, getTree, compare);
	}
	
	void* min(void* node,
		std::ds::BinTree*(void*) getTree,
		unsigned char(void*, void*) compare){
		return std::ds::BinTree::min(
			root, node, getTree, compare);
	}
	
}