/*
Copyright (c) 2021 SWARMBJECT contributors

Redistribution and use in source and binary forms,
with or without modification, are permitted
provided that the following conditions are met:

1. Redistributions of source code must
retain the above copyright notice, this list
of conditions and the following disclaimer.

2. Redistributions in binary form must
reproduce the above copyright notice,
this list of conditions and the following
disclaimer in the documentation and/or other
materials provided with the distribution.

Subject to the terms and conditions of this
license, each copyright holder and contributor
hereby grants to those receiving rights under this
license a perpetual, worldwide, non-exclusive,
no-charge, royalty-free, irrevocable (except for
failure to satisfy the conditions of this license)
patent license to make, have made, use, offer to
sell, sell, import, and otherwise transfer this
software, where such license applies only to
those patent claims, already acquired or hereafter
acquired, licensable by such copyright holder or
contributor that are necessarily infringed by:

(a) their Contribution(s) (the licensed
copyrights of copyright holders and
non-copyrightable additions of contributors,
in source or binary form) alone; or

(b) combination of their Contribution(s)
with the work of authorship to which such
Contribution(s) was added by such copyright
holder or contributor, if, at the time the
Contribution is added, such addition causes
such combination to be necessarily infringed.
The patent license shall not apply to any other
combinations which include the Contribution.

Except as expressly stated above, no rights or
licenses from any copyright holder or contributor
is granted under this license, whether expressly,
by implication, estoppel or otherwise.

DISCLAIMER

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS
AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
SUCH DAMAGE.
*/
class Buffer {

	unsigned char[] data;
	unsigned int size;

	Buffer(){
		size = 0;
		data = nullptr;
	}

	~Buffer(){
		delete[] data;
	}
	
	void debug(){
		unsigned char[] chars = data;
		unsigned int len = size;
		unsigned int i = 0;
		void* str;
		constwrite "	str = '';\n";
		while (i < len){
			unsigned char bufferChar = chars[i];
			constwrite "		str += ', ' + bufferChar;\n";
			if (bufferChar > 32 && bufferChar < 127){
				constwrite "			str += ' (' +\n"
					"				String.fromCharCode(bufferChar) + ')';\n";
			}
			i = i + 1;
		}
		constwrite "	alert(str);\n";
	}

	/* Public member functions. */
	
	void clear(){
		size = 0;
		delete[] data;
		data = nullptr;
	}

	unsigned char getU8(unsigned int start){
		return data[start];
	}

	void getU8s(unsigned int start,
		unsigned char[] chars, unsigned int i,
		unsigned int len){
		std::arr::Uchar::copy(chars, i, data, start, len);
	}

	unsigned short getU16BE(unsigned int start){
		return std::arr::Uchar::getU16BE(data, start);
	}

	unsigned short getU16LE(unsigned int start){
		return std::arr::Uchar::getU16LE(data, start);
	}

	unsigned int getU32BE(unsigned int start){
		return std::arr::Uchar::getU32BE(data, start);
	}

	unsigned int getU32LE(unsigned int start){
		return std::arr::Uchar::getU32LE(data, start);
	}

	void move(std::ds::Buffer* src){
		if (src == this) {return;}
		size = src->size;
		delete[] data;
		data = src->data;
		src->size = 0;
		src->data = nullptr;
	}

	void setSize(unsigned int len){
		unsigned int copySize = size;
		if (copySize == len) {return;}
		if (copySize == 0){
			data = new unsigned char[len];
		} else {
			unsigned char[] previousData = data;
			if (len > 0){
				unsigned char[] newData = new unsigned char[len];
				if (len < copySize) {copySize = len;}
				std::arr::Uchar::copy(
					newData, 0, previousData, 0, copySize);
				data = newData;
			} else {
				data = nullptr;
			}
			delete[] previousData;
		}
		size = len;
	}

	void setU8(unsigned int start,
		unsigned char setChar){
		data[start] = setChar;
	}

	void setU8s(unsigned int start,
		unsigned char[] chars, unsigned int i,
		unsigned int len){
		std::arr::Uchar::copy(data, start, chars, i, len);
	}

	void setU16BE(unsigned int start,
		unsigned short setShort){
		std::arr::Uchar::setU16BE(data, start, setShort);
	}

	void setU16LE(unsigned int start,
		unsigned short setShort){
		std::arr::Uchar::setU16LE(data, start, setShort);
	}

	void setU32BE(unsigned int start,
		unsigned int setInt){
		std::arr::Uchar::setU32BE(data, start, setInt);
	}

	void setU32LE(unsigned int start,
		unsigned int setInt){
		std::arr::Uchar::setU32LE(data, start, setInt);
	}
}