/*
Copyright (c) 2022 SWARMBJECT contributors

Redistribution and use in source and binary forms,
with or without modification, are permitted
provided that the following conditions are met:

1. Redistributions of source code must
retain the above copyright notice, this list
of conditions and the following disclaimer.

2. Redistributions in binary form must
reproduce the above copyright notice,
this list of conditions and the following
disclaimer in the documentation and/or other
materials provided with the distribution.

Subject to the terms and conditions of this
license, each copyright holder and contributor
hereby grants to those receiving rights under this
license a perpetual, worldwide, non-exclusive,
no-charge, royalty-free, irrevocable (except for
failure to satisfy the conditions of this license)
patent license to make, have made, use, offer to
sell, sell, import, and otherwise transfer this
software, where such license applies only to
those patent claims, already acquired or hereafter
acquired, licensable by such copyright holder or
contributor that are necessarily infringed by:

(a) their Contribution(s) (the licensed
copyrights of copyright holders and
non-copyrightable additions of contributors,
in source or binary form) alone; or

(b) combination of their Contribution(s)
with the work of authorship to which such
Contribution(s) was added by such copyright
holder or contributor, if, at the time the
Contribution is added, such addition causes
such combination to be necessarily infringed.
The patent license shall not apply to any other
combinations which include the Contribution.

Except as expressly stated above, no rights or
licenses from any copyright holder or contributor
is granted under this license, whether expressly,
by implication, estoppel or otherwise.

DISCLAIMER

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS
AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
SUCH DAMAGE.
*/
class CircuralArray {

	/* The array is empty when front == back,
			otherwise front points to the first element,
			and back points as a trick after the last element
			if front < back, or to the last element if front > back,
			as otherwise an empty and a full array would be the same. */
	unsigned int back;
	unsigned int capacity;
	void* data;
	unsigned int front;

	CircuralArray(){
		front = 0;
		back = 0;
		data = nullptr;
		capacity = 0;
	}
	
	void addFirst(void* element,
		void*(unsigned int) newArray,
		void(void*, unsigned int, 
			void*) setElement){
		capacity = 1;
		void* arrayData = newArray(1);
		setElement(arrayData, 0, element);
		front = 0;
		back = 1;
		data = arrayData;
	}
	
	void* createCopy(unsigned int arrayCapacity,
		unsigned int offset,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray){
		void* previousData = data;
		void* arrayData = newArray(arrayCapacity);
		capacity = arrayCapacity;
		unsigned int arrayFront = front;
		unsigned int arrayBack = back;
		while (arrayBack > arrayFront){
			arrayBack = arrayBack - 1;
			setArray(arrayData, arrayBack + offset,
				previousData, arrayBack);
		}
		data = arrayData;
		return arrayData;
	}
	
	void* createShift(unsigned int arrayCapacity,
		unsigned int offset,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray){
		unsigned int arrayFront = front;
		unsigned int size = capacity - arrayFront;
		void* previousData = data;
		void* arrayData = newArray(arrayCapacity);
		capacity = arrayCapacity;
		unsigned int i = 0;
		while (i < size){
			setArray(arrayData, i + offset,
				previousData, arrayFront + i);
			i = i + 1;
		}
		i = 0;
		unsigned int arrayBack = back;
		size = size + offset;
		while (i <= arrayBack){
			setArray(arrayData, size + i, previousData, i);
			i = i + 1;
		}
		front = 0;
		data = arrayData;
		return arrayData;
	}

	/* Public member functions. */

	void clear(){
		back = front;
	}
	
	void getBack(void* element,
		void(void*, unsigned int, void*) getElement){
		unsigned int arrayFront = front;
		unsigned int arrayBack = back;
		if (arrayFront == arrayBack){
			getElement(nullptr, 0, element);
		} else {
			if (arrayFront < arrayBack){
				arrayBack = arrayBack - 1;
			}
			getElement(data, arrayBack, element);
		}
	}
	
	void getFront(void* element,
		void(void*, unsigned int, void*) getElement){
		unsigned int arrayFront = front;
		if (arrayFront == back){
			getElement(nullptr, 0, element);
		} else {
			getElement(data, arrayFront, element);
		}
	}

	unsigned int getSize(){
		unsigned int arrayFront = front;
		unsigned int arrayBack = back;
		unsigned int size;
		if (arrayFront == arrayBack){
			size = 0;
		} else if (front < arrayBack){
			size = arrayBack - arrayFront;
		} else {
			size = capacity - arrayFront + arrayBack + 1;
		}
		return size;
	}

	void move(std::ds::CircuralArray* src,
		void(void*) deleteArray){
		if (src == this) {return;}
		front = src->front;
		back = src->back;
		capacity = src->capacity;
		deleteArray(data);
		data = src->data;
		src->front = 0;
		src->back = 0;
		src->capacity = 0;
		src->data = nullptr;
	}

	void popBack(void* element,
		void(void*, unsigned int, void*) getElement){
		void* arrayData = data;
		unsigned int arrayFront = front;
		unsigned int arrayBack = back;
		if (arrayFront == arrayBack){
			getElement(nullptr, 0, element);
		} else {
			if (arrayFront < arrayBack){
				arrayBack = arrayBack - 1;
				back = arrayBack;
			} else if (arrayBack > 0){
				arrayBack = arrayBack - 1;
			} else {
				arrayBack = capacity;
			}
			getElement(arrayData, arrayBack, element);
		}
	}
	
	void popFront(void* element,
		void(void*, unsigned int, void*) getElement){
		void* arrayData = data;
		unsigned int arrayFront = front;
		unsigned int arrayBack = back;
		if (arrayFront == arrayBack){
			getElement(nullptr, 0, element);
		} else {
			if (arrayFront < arrayBack){
				if (arrayFront + 1 == arrayBack){
					back = arrayFront;
				} else {
					front = arrayFront + 1;
				}
			} else if (arrayFront + 1 < capacity){
				front = arrayFront + 1;
			} else {
				front = 0;
				back = arrayBack + 1;
			}
			getElement(arrayData, arrayFront, element);
		}
	}

	void pushBack(void* element,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray,
		void(void*, unsigned int, 
			void*) setElement){
		void* previousData = data;
		unsigned int arrayCapacity = capacity;
		unsigned int arrayFront = front;
		unsigned int arrayBack = back;
		if (arrayCapacity == 0){
			addFirst(element, newArray, setElement);
		} else if (arrayFront <= arrayBack){
			if (arrayBack < arrayCapacity){
				setElement(previousData, arrayBack, element);
				back = arrayBack + 1;
			} else if (arrayFront > 0){
				setElement(previousData, 0, element);
				back = 0;
			} else {
				void* arrayData = createCopy(
					arrayCapacity * 2, 0, setArray, newArray);
				setElement(arrayData, arrayBack, element);
				back = arrayBack + 1;
				deleteArray(previousData);
			}
		} else if (arrayBack + 1 < arrayFront){
			setElement(previousData, arrayBack + 1, element);
			back = arrayBack + 1;
		} else {
			void* arrayData = createShift(
				arrayCapacity * 2, 0, setArray, newArray);
			arrayBack = arrayCapacity - arrayFront + 
				arrayBack + 1;
			setElement(arrayData, arrayBack, element);
			back = arrayBack + 1;
			deleteArray(previousData);
		}
	}

	void pushFront(void* element,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray,
		void(void*, unsigned int, 
			void*) setElement){
		void* previousData = data;
		unsigned int arrayCapacity = capacity;
		unsigned int arrayFront = front;
		unsigned int arrayBack = back;
		if (arrayCapacity == 0){
			addFirst(element, newArray, setElement);
		} else if (arrayFront <= arrayBack){
			if (arrayFront > 0){
				setElement(previousData, 
					arrayFront - 1, element);
				front = arrayFront - 1;
			} else if (arrayBack < arrayCapacity){
				front = arrayCapacity - 1;
				setElement(previousData, 
					arrayCapacity - 1, element);
				if (arrayBack != 0){
					back = arrayBack - 1;
				} else {
					back = arrayCapacity;
				}
			} else {
				void* arrayData = createCopy(
					arrayCapacity * 2, 1, setArray, newArray);
				setElement(arrayData, 0, element);
				back = arrayBack + 1;
				deleteArray(previousData);
			}
		} else if (arrayBack + 1 < arrayFront){
			setElement(previousData, 
				arrayFront - 1, element);
			front = arrayFront - 1;
		} else {
			void* arrayData = createShift(
				arrayCapacity * 2, 1, setArray, newArray);
			setElement(arrayData, 0, element);
			back = arrayCapacity - arrayFront + 
				arrayBack + 2;
			deleteArray(previousData);
		}
	}

	void reserve(unsigned int newCapacity,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray){
		unsigned int arrayCapacity = capacity;
		if (newCapacity > arrayCapacity){
			if (arrayCapacity == 0){
				data = newArray(newCapacity);
				capacity = newCapacity;
			} else {
				void* previousData = data;
				unsigned int arrayFront = front;
				unsigned int arrayBack = back;
				if (arrayFront <= arrayBack){
					createCopy(newCapacity, 0, 
						setArray, newArray);
					front = 0;
					back = arrayBack - arrayFront;
					deleteArray(previousData);
				} else {
					createShift(newCapacity, 0, 
						setArray, newArray);
					back = arrayCapacity - arrayFront + 
						arrayBack + 1;
					deleteArray(previousData);
				}
			}
		}
	}

}