/*
Copyright (c) 2021 SWARMBJECT contributors

Redistribution and use in source and binary forms,
with or without modification, are permitted
provided that the following conditions are met:

1. Redistributions of source code must
retain the above copyright notice, this list
of conditions and the following disclaimer.

2. Redistributions in binary form must
reproduce the above copyright notice,
this list of conditions and the following
disclaimer in the documentation and/or other
materials provided with the distribution.

Subject to the terms and conditions of this
license, each copyright holder and contributor
hereby grants to those receiving rights under this
license a perpetual, worldwide, non-exclusive,
no-charge, royalty-free, irrevocable (except for
failure to satisfy the conditions of this license)
patent license to make, have made, use, offer to
sell, sell, import, and otherwise transfer this
software, where such license applies only to
those patent claims, already acquired or hereafter
acquired, licensable by such copyright holder or
contributor that are necessarily infringed by:

(a) their Contribution(s) (the licensed
copyrights of copyright holders and
non-copyrightable additions of contributors,
in source or binary form) alone; or

(b) combination of their Contribution(s)
with the work of authorship to which such
Contribution(s) was added by such copyright
holder or contributor, if, at the time the
Contribution is added, such addition causes
such combination to be necessarily infringed.
The patent license shall not apply to any other
combinations which include the Contribution.

Except as expressly stated above, no rights or
licenses from any copyright holder or contributor
is granted under this license, whether expressly,
by implication, estoppel or otherwise.

DISCLAIMER

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS
AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
SUCH DAMAGE.
*/
class DArray {

	unsigned int capacity;
	void* data;
	unsigned int size;

	DArray(){
		size = 0;
		capacity = 0;
		data = nullptr;
	}

	void* addSize(unsigned int len,
		void*(unsigned int) newArray){
		unsigned int previousSize = size;
		unsigned int newSize = previousSize + len;
		unsigned int newCapacity = capacity;
		void* newData;
		if (newCapacity < newSize){
			if (newCapacity == 0){
				newCapacity = len;
				newData = newArray(len);
			} else {
				newCapacity = newCapacity * 2;
				if (newCapacity < newSize)
					{newCapacity = newSize;}
				newData = newArray(newCapacity);
			}
			data = newData;
			capacity = newCapacity;
		} else {newData = data;}
		size = newSize;
		return newData;
	}
	
	void* insertSize(unsigned int len,
		unsigned int start,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray){
		unsigned int previousSize = size;
		if (start > previousSize) {return nullptr;}
		void* previousData = data;
		void* newData = addSize(len, newArray);
		std::arr::Void::copy(newData, start + len,
			previousData, start, previousSize - start,
			setArray);
		if (newData != previousData){
			std::arr::Void::copy(newData, 0,
				previousData, 0, start, setArray);
			deleteArray(previousData);
		}
		return newData;
	}

	/* Public member functions. */

	void add(void* element, unsigned int len,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray,
		void(void*, unsigned int, 
			void*) setElement){
		void* previousData = data;
		unsigned int previousSize = size;
		void* newData = addSize(len, newArray);
		std::arr::Void::set(newData,
			previousSize, len, element, setElement);
		if (newData != previousData){
			std::arr::Void::copy(newData, 0,
				previousData, 0, previousSize, setArray);
			deleteArray(previousData);
		}
	}
			
	void addRange(void* src,
		unsigned int i, unsigned int len,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray,
		void(void*, unsigned int, 
			void*, unsigned int) setElements){
		void* previousData = data;
		unsigned int previousSize = size;
		void* newData = grow(
			len, setArray, newArray, deleteArray);
		if (src == previousData) {src = newData;}
		std::arr::Void::copy(newData, previousSize,
			src, i, len, setElements);
	}

	void clear(){
		size = 0;
	}

	unsigned char compare(void* dst,
		unsigned int i, unsigned int dstLen,
		unsigned char(void*, unsigned int, 
			void*, unsigned int) compareElements){
		return std::arr::Void::compareRange(
			data, 0, size, dst, i, 
			dstLen, compareElements);
	}

	/* Does not support overlapping copy. */
	void copy(unsigned int start, 
		void* element, unsigned int len,
		void(void*, unsigned int, 
			void*) setElement){
		unsigned int dataLen = size;
		if (start + len > dataLen){
			if (start >= dataLen) {return;}
			len = dataLen - start;
		}
		std::arr::Void::set(data, 
			start, len, element, setElement);
	}
			
	void copyRange(unsigned int start, void* src, 
		unsigned int i, unsigned int len,
		void(void*, unsigned int, 
			void*, unsigned int) setElements){
		unsigned int dataLen = size;
		if (start + len > dataLen){
			if (start >= dataLen) {return;}
			len = dataLen - start;
		}
		std::arr::Void::copy(data, start,
			src, i, len, setElements);
	}
	
	void* create(unsigned int len,
		void*(unsigned int) newArray,
		void(void*) deleteArray){
		void* newData;
		unsigned int previousSize = size;
		if (len > capacity){
			deleteArray(data);
			newData = addSize(len - size, newArray);
		} else {
			newData = data;
			size = len;
		}
		return newData;
	}
	
	void erase(unsigned int start, unsigned int len,
		void(void*, unsigned int, 
			void*, unsigned int) setArray){
		unsigned int newSize = size;
		if (start < newSize){
			void* newData = data;
			if (start + len < newSize){
				newSize = newSize - len;
				std::arr::Void::copy(newData, start,
					newData, start + len, newSize - start, setArray);
				size = newSize;
			} else {
				size = start;
			}
		}
	}

	unsigned int find(void* element,
		unsigned char(void*, 
			unsigned int, void*) compareElements,
		unsigned int start){
		unsigned int len = size;
		if (start >= len) {return 0;}
		return std::arr::Void::find(
			data, start, len - start, element,
			compareElements);
	}

	unsigned int findLast(void* element,
		unsigned char(void*, 
			unsigned int, void*) compareElements,
		unsigned int start){
		unsigned int len = size;
		if (start > len) {start = len;}
		return std::arr::Void::findLast(
			data, 0, start, element,
			compareElements);
	}

	unsigned int findLastRange(void* src, 
		unsigned int i, unsigned int len, 
		unsigned char(void*, unsigned int, 
			void*, unsigned int) compareElements,
		unsigned int start){
		unsigned int max = size;
		if (start > max) {start = max;}
		return std::arr::Void::findLastRange(
			data, 0, start, src, i, len,
			compareElements);
	}
	
	unsigned int findRange(void* src, 
		unsigned int i, unsigned int len, 
		unsigned char(void*, unsigned int, 
			void*, unsigned int) compareElements,
		unsigned int start){
		unsigned int max = size;
		if (start >= max) {return 0;}
		return std::arr::Void::findRange(
			data, start, max - start, src, i, len,
			compareElements);
	}
	
	unsigned int findSorted(void* element,
		unsigned char(void*, 
			unsigned int, void*) compareElements){
		return std::arr::Void::findSorted(
			data, 0, size, element,
			compareElements);
	}
	
	void* grow(unsigned int len,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray){
		void* previousData = data;
		unsigned int previousSize = size;
		void* newData = addSize(len, newArray);
		if (newData != previousData){
			std::arr::Void::copy(newData, 0,
				previousData, 0, previousSize, setArray);
			deleteArray(previousData);
		}
		return newData;
	}

	/* Does not support overlapping copy. */
	void insert(unsigned int start,
		void* element, unsigned int len,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray,
		void(void*, unsigned int, 
			void*) setElement){
		void* newData = insertSize(len, start,
			setArray, newArray, deleteArray);
		if (newData != nullptr){
			std::arr::Void::set(newData,
				start, len, element, setElement);
		}
	}

	/* Does not support overlapping copy. */
	void insertRange(
		unsigned int start, void* src, 
		unsigned int i, unsigned int len,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray,
		void(void*, unsigned int, 
			void*, unsigned int) setElements){
		void* newData = insertSize(len, start,
			setArray, newArray, deleteArray);
		if (newData != nullptr){
			std::arr::Void::copy(newData, start,
				src, i, len, setElements);
		}
	}

	/* Does not support overlapping copy. */
	void insertSorted(void* element,
		unsigned char(void*, unsigned int, 
			void*) compareElements,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray,
		void(void*, unsigned int, 
			void*) setElement){
		unsigned int end = size;
		if (end > 0){
			/* Trick using offset by 1 to keep variables as unsigned. */
			unsigned int start = 1;
			unsigned int mid;
			void* arrayData = data;
			while (true){
				mid = (end + start) >> 1;
				switch (compareElements(arrayData, 
					mid - 1, element)){
					case std::Compare::less:
						if (start == end){
							end = mid;
							break;
						}
						start = mid + 1;
						continue;
					case std::Compare::equal:
						end = mid - 1;
						break;
					case std::Compare::greater:
						end = mid - 1;
						if (start > end) {break;}
						continue;
				}
				break;
			}
		}
		void* newData = insertSize(1, end,
			setArray, newArray, deleteArray);
		setElement(newData, end, element);
	}

	void move(std::ds::DArray* src,
		void(void*) deleteArray){
		if (src == this) {return;}
		size = src->size;
		capacity = src->capacity;
		deleteArray(data);
		data = src->data;
		src->size = 0;
		src->capacity = 0;
		src->data = nullptr;
	}
	
	void pop(void* element, void(void*, 
		unsigned int, void*) getElement){
		unsigned int previousSize = size;
		if (previousSize > 0){
			if (element != nullptr){
				getElement(data, 
					previousSize - 1, element);
			}
			size = previousSize - 1;
		} else if (element != nullptr){
			getElement(nullptr, 0, element);
		}
	}

	void push(void* element,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray,
		void(void*, unsigned int, 
			void*) setElement){
		void* previousData = data;
		unsigned int previousSize = size;
		void* newData = addSize(1, newArray);
		setElement(newData, previousSize, element);
		if (newData != previousData){
			std::arr::Void::copy(newData, 0,
				previousData, 0, previousSize, setArray);
			deleteArray(previousData);
		}
	}

	void reserve(unsigned int newCapacity,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray){
		if (newCapacity > capacity){
			void* previousData = data;
			void* newData = newArray(newCapacity);
			if (previousData != nullptr){
				std::arr::Void::copy(newData, 0,
					previousData, 0, size, setArray);
				deleteArray(previousData);
			}
			data = newData;
		}
		capacity = newCapacity;
	}
	
	void reverse(
		void(void*, unsigned int,
			unsigned int) switchElements){
		std::arr::Void::reverse(
			data, 0, size, switchElements);
	}
	
	/* Does not support overlapping copy. */
	void set(void* element, unsigned int len,
		void*(unsigned int) newArray,
		void(void*) deleteArray,
		void(void*, unsigned int, 
			void*) setElement){
		void* newData = create(
			len, newArray, deleteArray);
		std::arr::Void::set(newData,
			0, len, element, setElement);
	}
	
	/* Should work even if the regions overlap, as then 
		its size can not be greater than its container. */
	void setRange(void* src,
		unsigned int start, unsigned int len,
		void*(unsigned int) newArray,
		void(void*) deleteArray,
		void(void*, unsigned int, 
			void*, unsigned int) setElements){
		void* newData = create(
			len, newArray, deleteArray);
		std::arr::Void::copy(newData, 0,
			src, start, len, setElements);
	}

	void* shift(
		unsigned int start, unsigned int len,
		void(void*, unsigned int, 
			void*, unsigned int) setArray,
		void*(unsigned int) newArray,
		void(void*) deleteArray){
		return insertSize(len, start,
			setArray, newArray, deleteArray);
	}
	
	void trim(unsigned int len){
		if (len < size){
			size = len;
		}
	}

}