/*
Copyright (c) 2022 SWARMBJECT contributors

Redistribution and use in source and binary forms,
with or without modification, are permitted
provided that the following conditions are met:

1. Redistributions of source code must
retain the above copyright notice, this list
of conditions and the following disclaimer.

2. Redistributions in binary form must
reproduce the above copyright notice,
this list of conditions and the following
disclaimer in the documentation and/or other
materials provided with the distribution.

Subject to the terms and conditions of this
license, each copyright holder and contributor
hereby grants to those receiving rights under this
license a perpetual, worldwide, non-exclusive,
no-charge, royalty-free, irrevocable (except for
failure to satisfy the conditions of this license)
patent license to make, have made, use, offer to
sell, sell, import, and otherwise transfer this
software, where such license applies only to
those patent claims, already acquired or hereafter
acquired, licensable by such copyright holder or
contributor that are necessarily infringed by:

(a) their Contribution(s) (the licensed
copyrights of copyright holders and
non-copyrightable additions of contributors,
in source or binary form) alone; or

(b) combination of their Contribution(s)
with the work of authorship to which such
Contribution(s) was added by such copyright
holder or contributor, if, at the time the
Contribution is added, such addition causes
such combination to be necessarily infringed.
The patent license shall not apply to any other
combinations which include the Contribution.

Except as expressly stated above, no rights or
licenses from any copyright holder or contributor
is granted under this license, whether expressly,
by implication, estoppel or otherwise.

DISCLAIMER

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS
AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
SUCH DAMAGE.
*/
/* Doubly linked list */
class DLList {
	void* next;
	void* previous;

	DLList(){
		next = nullptr;
		previous = nullptr;
	}

	/* Public member functions. */

	static unsigned int getSize(void* frontElement,
		std::ds::DLList*(void*) getList){
		unsigned int size = 0;
		while (frontElement != nullptr){
			size = size + 1;
			std::ds::DLList* list = getList(frontElement);
			frontElement = list->next;
		}
		return size;
	}

	static void popBack(void** front,
		void** back, std::ds::DLList*(void*) getList){
		void* backElement = *back;
		if (backElement != nullptr){
			std::ds::DLList* list = getList(backElement);
			void* previousElement = list->previous;
			if (previousElement != nullptr){
				getList(previousElement)->next = nullptr;
			} else if (front != nullptr){
				*front = nullptr;
			}
			*back = previousElement;
			list->next = nullptr;
			list->previous = nullptr;
		}
	}

	static void popFront(void** front,
		void** back, std::ds::DLList*(void*) getList){
		void* frontElement = *front;
		if (frontElement != nullptr){
			std::ds::DLList* list = getList(frontElement);
			void* nextElement = list->next;
			if (nextElement != nullptr){
				getList(nextElement)->previous = nullptr;
			} else if (back != nullptr){
				*back = nullptr;
			}
			*front = nextElement;
			list->next = nullptr;
			list->previous = nullptr;
		}
	}

	/* If the element is already part of the list, then it must be
		removed before calling this function. */
	static void pushBack(void* element, void** front,
		void** back, std::ds::DLList*(void*) getList){
		void* backElement;
		if (back != nullptr){
			backElement = *back;
			*back = element;
		} else if (front != nullptr){
			backElement = *front;
		} else {return;}
		if (backElement == nullptr){
			if (front != nullptr){
				*front = element;
			}
		} else {
			while (true){
				std::ds::DLList* list = getList(backElement);
				void* nextElement = list->next;
				if (nextElement == nullptr){
					list->next = element;
					getList(element)->previous = backElement;
					break;
				}
				backElement = nextElement;
			}
		}
	}

	/* If the element is already part of the list, then it must be
		removed before calling this function. */
	static void pushFront(void* element, void** front,
		void** back, std::ds::DLList*(void*) getList){
		void* frontElement;
		if (front != nullptr){
			frontElement = *front;
			*front = element;
		} else if (back != nullptr){
			frontElement = *back;
		} else {return;}
		if (frontElement == nullptr){
			if (back != nullptr){
				*back = element;
			}
		} else {
			while (true){
				std::ds::DLList* list = getList(frontElement);
				void* previousElement = list->previous;
				if (previousElement == nullptr){
					list->previous = element;
					getList(element)->next = frontElement;
					break;
				}
				frontElement = previousElement;
			}
		}
	}
	
}