/*
Copyright (c) 2021-2022 SWARMBJECT contributors

Redistribution and use in source and binary forms,
with or without modification, are permitted
provided that the following conditions are met:

1. Redistributions of source code must
retain the above copyright notice, this list
of conditions and the following disclaimer.

2. Redistributions in binary form must
reproduce the above copyright notice,
this list of conditions and the following
disclaimer in the documentation and/or other
materials provided with the distribution.

Subject to the terms and conditions of this
license, each copyright holder and contributor
hereby grants to those receiving rights under this
license a perpetual, worldwide, non-exclusive,
no-charge, royalty-free, irrevocable (except for
failure to satisfy the conditions of this license)
patent license to make, have made, use, offer to
sell, sell, import, and otherwise transfer this
software, where such license applies only to
those patent claims, already acquired or hereafter
acquired, licensable by such copyright holder or
contributor that are necessarily infringed by:

(a) their Contribution(s) (the licensed
copyrights of copyright holders and
non-copyrightable additions of contributors,
in source or binary form) alone; or

(b) combination of their Contribution(s)
with the work of authorship to which such
Contribution(s) was added by such copyright
holder or contributor, if, at the time the
Contribution is added, such addition causes
such combination to be necessarily infringed.
The patent license shall not apply to any other
combinations which include the Contribution.

Except as expressly stated above, no rights or
licenses from any copyright holder or contributor
is granted under this license, whether expressly,
by implication, estoppel or otherwise.

DISCLAIMER

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS
AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
SUCH DAMAGE.
*/
class PtrArray {

	void*[] data;
	unsigned int size;

	PtrArray(){
		size = 0;
		data = nullptr;
	}

	~PtrArray(){
		delete[] data;
	}

	void*[] addSize(unsigned int len){
		unsigned int newSize = size + len;
		void*[] newData = new void*[newSize];
		data = newData;
		size = newSize;
		return newData;
	}
	
	void*[] insertSize(unsigned int len,
		unsigned int start){
		unsigned int previousSize = size;
		if (start > previousSize ||
			len == 0) {return nullptr;}
		void*[] previousData = data;
		void*[] newData = addSize(len);
		std::arr::Ptr::copy(newData, start + len,
			previousData, start, previousSize - start);
		std::arr::Ptr::copy(newData, 0,
			previousData, 0, start);
		return newData;
	}
	
	void*[] setSize(unsigned int len){
		void*[] newData;
		if (len > 0){
			newData = new void*[len];
		} else {
			newData = nullptr;
		}
		data = newData;
		size = len;
		return newData;
	}

	/* Public member functions. */

	void add(void* element, unsigned int len){
		unsigned int previousSize = size;
		std::arr::Ptr::set(grow(len),
			previousSize, len, element);
	}

	void addRange(void*[] src,
		unsigned int i, unsigned int len){
		if (len == 0) {return;}
		unsigned int previousSize = size;
		void*[] previousData = data;
		void*[] newData = addSize(len);
		std::arr::Ptr::copy(newData, 0,
			previousData, 0, previousSize);
		std::arr::Ptr::copy(newData, previousSize,
			src, i, len);
		delete[] previousData;
	}

	void clear(){
		size = 0;
		delete[] data;
		data = nullptr;
	}

	unsigned char compare(void*[] dst,
		unsigned int i, unsigned int dstLen,
		unsigned char(void*, void*) compareElements){
		return std::arr::Ptr::compareRange(
			data, 0, size, dst, i, 
			dstLen, compareElements);
	}

	void copy(unsigned int start, 
		void* element, unsigned int len){
		unsigned int dataLen = size;
		if (start + len > dataLen){
			if (start >= dataLen) {return;}
			len = dataLen - start;
		}
		std::arr::Ptr::set(data, 
			start, len, element);
	}
			
	void copyRange(unsigned int start, void*[] src, 
		unsigned int i, unsigned int len){
		unsigned int dataLen = size;
		if (start + len > dataLen){
			if (start >= dataLen) {return;}
			len = dataLen - start;
		}
		std::arr::Ptr::copy(data, start,
			src, i, len);
	}
	
	void*[] create(unsigned int len){
		void*[] newData = data;
		if (size != len){
			delete[] newData;
			newData = setSize(len);
		}
		return newData;
	}
	
	void erase(unsigned int start, unsigned int len){
		unsigned int previousSize = size;
		if (start + len > previousSize){
			if (start >= previousSize) {return;}
			len = previousSize - start;
		}
		void*[] previousData = data;
		unsigned int newSize = previousSize - len;
		if (newSize > 0){
			void*[] newData = new void*[newSize];
			std::arr::Ptr::copy(newData, 0, 
				previousData, 0, start);
			std::arr::Ptr::copy(newData, start,
				previousData, start + len, 
				previousSize - start - len);
			data = newData;
		} else {
			data = nullptr;
		}
		delete[] previousData;
		size = newSize;
	}

	unsigned int find(void* element,
		unsigned char(void*, void*) compareElements,
		unsigned int start){
		unsigned int len = size;
		if (start >= len) {return 0;}
		return std::arr::Ptr::find(
			data, start, len - start, element,
			compareElements);
	}

	unsigned int findLast(void* element,
		unsigned char(void*, void*) compareElements,
		unsigned int start){
		unsigned int len = size;
		if (start > len) {start = len;}
		return std::arr::Ptr::findLast(
			data, 0, start, element,
			compareElements);
	}

	unsigned int findLastRange(void*[] src, 
		unsigned int i, unsigned int len, 
		unsigned char(void*, void*) compareElements,
		unsigned int start){
		unsigned int max = size;
		if (start > max) {start = max;}
		return std::arr::Ptr::findLastRange(
			data, 0, start, src, i, len,
			compareElements);
	}
	
	unsigned int findRange(void*[] src, 
		unsigned int i, unsigned int len, 
		unsigned char(void*, void*) compareElements,
		unsigned int start){
		unsigned int max = size;
		if (start >= max) {return 0;}
		return std::arr::Ptr::findRange(
			data, start, max - start, src, i, len,
			compareElements);
	}
	
	unsigned int findSorted(void* element,
		unsigned char(void*, void*) compareElements){
		return std::arr::Ptr::findSorted(
			data, 0, size, element,
			compareElements);
	}
	
	void*[] grow(unsigned int len){
		void*[] previousData = data;
		if (len == 0) {return previousData;}
		unsigned int previousSize = size;
		void*[] newData = addSize(len);
		std::arr::Ptr::copy(newData, 0,
			previousData, 0, previousSize);
		delete[] previousData;
		return newData;
	}

	void insert(unsigned int start,
		void* element, unsigned int len){
		void*[] previousData = data;
		void*[] newData = insertSize(len, start);
		if (newData != nullptr){
			std::arr::Ptr::set(newData,
				start, len, element);
			delete[] previousData;
		}
	}

	void insertRange(
		unsigned int start, void*[] src, 
		unsigned int i, unsigned int len){
		void*[] previousData = data;
		void*[] newData = insertSize(len, start);
		if (newData != nullptr){
			std::arr::Ptr::copy(newData, start,
				src, i, len);
			delete[] previousData;
		}
	}

	void insertSorted(void* element,
		unsigned char(void*, void*) compareElements){
		void*[] previousData = data;
		unsigned int end = std::arr::Ptr::insert(
			previousData, 0, size, element, 
			compareElements);
		void*[] newData = insertSize(1, end);
		newData[end] = element;
		delete[] previousData;
	}

	void move(std::ds::PtrArray* src){
		if (src == this) {return;}
		size = src->size;
		delete[] data;
		data = src->data;
		src->size = 0;
		src->data = nullptr;
	}
	
	void* pop(){
		unsigned int previousSize = size;
		if (previousSize > 0){
			void*[] previousData = data;
			void* element = previousData[previousSize - 1];
			unsigned int newSize = previousSize - 1;
			if (newSize > 0){
				void*[] newData = new void*[newSize];
				std::arr::Ptr::copy(newData, 0, 
					previousData, 0, newSize);
				data = newData;
			} else {
				data = nullptr;
			}
			delete[] previousData;
			size = newSize;
			return element;
		}
		return nullptr;
	}

	void push(void* element){
		void*[] previousData = data;
		unsigned int previousSize = size;
		void*[] newData = addSize(1);
		std::arr::Ptr::copy(newData, 0,
			previousData, 0, previousSize);
		newData[previousSize] = element;
		delete[] previousData;
	}
	
	void reverse(){
		std::arr::Ptr::reverse(
			data, 0, size);
	}
	
	void set(void* element, unsigned int len){
		std::arr::Ptr::set(create(len),
			0, len, element);
	}

	void setRange(void*[] src,
		unsigned int start, unsigned int len){
		void*[] previousData = data;
		if (size != len){
			void*[] newData = setSize(len);
			std::arr::Ptr::copy(newData, 0,
				src, start, len);
			delete[] previousData;
		} else {
			std::arr::Ptr::copy(previousData, 0,
				src, start, len);
		}
	}

	void*[] shift(
		unsigned int start, unsigned int len){
		void*[] previousData = data;
		void*[] newData = insertSize(len, start);
		if (newData != nullptr){
			delete[] previousData;
		} else if (len == 0){
			newData = previousData;
		}
		return newData;
	}
	
	void trim(unsigned int len){
		if (len < size){
			void*[] previousData = data;
			if (len > 0){
				void*[] newData = new void*[len];
				std::arr::Ptr::copy(newData, 0, 
					previousData, 0, len);
				data = newData;
			} else {
				data = nullptr;
			}
			delete[] previousData;
			size = len;
		}
	}

}