/*
Copyright (c) 2021 SWARMBJECT contributors

Redistribution and use in source and binary forms,
with or without modification, are permitted
provided that the following conditions are met:

1. Redistributions of source code must
retain the above copyright notice, this list
of conditions and the following disclaimer.

2. Redistributions in binary form must
reproduce the above copyright notice,
this list of conditions and the following
disclaimer in the documentation and/or other
materials provided with the distribution.

Subject to the terms and conditions of this
license, each copyright holder and contributor
hereby grants to those receiving rights under this
license a perpetual, worldwide, non-exclusive,
no-charge, royalty-free, irrevocable (except for
failure to satisfy the conditions of this license)
patent license to make, have made, use, offer to
sell, sell, import, and otherwise transfer this
software, where such license applies only to
those patent claims, already acquired or hereafter
acquired, licensable by such copyright holder or
contributor that are necessarily infringed by:

(a) their Contribution(s) (the licensed
copyrights of copyright holders and
non-copyrightable additions of contributors,
in source or binary form) alone; or

(b) combination of their Contribution(s)
with the work of authorship to which such
Contribution(s) was added by such copyright
holder or contributor, if, at the time the
Contribution is added, such addition causes
such combination to be necessarily infringed.
The patent license shall not apply to any other
combinations which include the Contribution.

Except as expressly stated above, no rights or
licenses from any copyright holder or contributor
is granted under this license, whether expressly,
by implication, estoppel or otherwise.

DISCLAIMER

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS
AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
SUCH DAMAGE.
*/
class CString {

	/* The length of the string excluding the ending 0. */
	static unsigned int length(unsigned char[] str,
		unsigned int start){
		unsigned int len = start;
		while (str[len] != 0){
			len = len + 1;
		}
		return len - start;
	}

	/* Compares a CString to a CString.
		0 if equals, + if src > dst, - otherwise. */
	static char compare(unsigned char[] src, unsigned int i,
		unsigned char[] dst, unsigned int j){
		while (true){
			unsigned char srcChar = src[i];
			unsigned char dstChar = dst[j];
			if (srcChar != dstChar){
				if (srcChar > dstChar) {return 1;}
				return -1;
			}
			if (srcChar == 0) {return 0;}
			i = i + 1;
			j = j + 1;
		}
	}
	
	/* Compares a substring, to a CString.
		0 if equals, + if src > dst, - otherwise.
			src is the substring, dst is a CString. */
	static char compareSubstring(unsigned char[] src,
		unsigned int i, unsigned int len,
		unsigned char[] dst, unsigned int j){
		len = len + i;
		while (i < len){
			unsigned char srcChar = src[i];
			unsigned char dstChar = dst[j];
			if (srcChar != dstChar){
				if (srcChar > dstChar) {return 1;}
				return -1;
			}
			if (dstChar == 0) {return 1;}
			i = i + 1;
			j = j + 1;
		}
		if (dst[j] == 0) {return 0;}
		else {return -1;}
	}

	/* Without ending 0. */
	static unsigned int uintLength(
		unsigned int i, unsigned char base){
		unsigned int j = 1;
		unsigned char divider =
			numberBaseToUint(base);
		while (true){
			i = (i - (i % divider)) / divider;
			if (i == 0) {break;}
			j = j + 1;
		}
		return j;
	}
	
	/* Without ending 0, returns length. */
	static unsigned int setUint(
		unsigned int i, unsigned char[] dst,
		unsigned int start, unsigned char base){
		return setUintEnd(i,
			dst, start + uintLength(i, base) - 1, base);
	}
	
	static unsigned int numberBaseToUint(
		unsigned char base){
		unsigned int i;
		switch (base){
			case std::NumberBases::binary:
				i = 2;
				break;
			case std::NumberBases::octal:
				i = 8;
				break;
			case std::NumberBases::decimal:
				i = 10;
				break;
			case std::NumberBases::hexadecimal:
				i = 16;
				break;
		}
		return i;
	}

	/* Without ending 0, returns length. */
	static unsigned int setUintEnd(
		unsigned int i, unsigned char[] dst,
		unsigned int end, unsigned char base){
		unsigned char divider =
			numberBaseToUint(base);
		unsigned int start = end;
		unsigned char digit;
		while (true){
			digit = i % divider;
			i = (i - digit) / divider;
			if (digit < 10){
				digit = digit + '0';
			} else {
				digit = digit - 10 + 'A';
			}
			dst[end] = digit;
			end = end - 1;
			if (i == 0) {break;}
		}
		return start - end;
	}

	/* len is the maximum characters to read, however it also
		returns at the first non digit character. */
	static unsigned int getUint(
		unsigned char[] src, unsigned int start,
		unsigned int len, unsigned int* bytes,
		unsigned char base){
		unsigned int i = start;
		unsigned char character;
		unsigned int value = 0;
		unsigned char multiplier =
			numberBaseToUint(base);
		len = len + i;
		while (i < len){
			character = src[i];
			i = i + 1;
			switch (character){
				case '0': case '1':
					value = value * multiplier + character - '0';
					continue;
				case '2': case '3': case '4': case '5':
				case '6': case '7':
					if (base >= std::NumberBases::octal){
						value = value * multiplier + character - '0';
						continue;
					}
					break;
				case '8': case '9':
					if (base >= std::NumberBases::decimal){
						value = value * multiplier + character - '0';
						continue;
					}
					break;
				case 'A': case 'B': case 'C': case 'D':
				case 'E': case 'F':
					if (base >= std::NumberBases::hexadecimal){
						value = value * multiplier + 10 + character - 'A';
						continue;
					}
					break;
				case 'a': case 'b': case 'c': case 'd':
				case 'e': case 'f':
					if (base >= std::NumberBases::hexadecimal){
						value = value * multiplier + 10 + character - 'a';
						continue;
					}
					break;
			}
			i = i - 1;
			break;
		}
		if (bytes != nullptr){
			*bytes = i - start;
		}
		return value;
	}

}