/*
Copyright (c) 2021 SWARMBJECT contributors

Redistribution and use in source and binary forms,
with or without modification, are permitted
provided that the following conditions are met:

1. Redistributions of source code must
retain the above copyright notice, this list
of conditions and the following disclaimer.

2. Redistributions in binary form must
reproduce the above copyright notice,
this list of conditions and the following
disclaimer in the documentation and/or other
materials provided with the distribution.

Subject to the terms and conditions of this
license, each copyright holder and contributor
hereby grants to those receiving rights under this
license a perpetual, worldwide, non-exclusive,
no-charge, royalty-free, irrevocable (except for
failure to satisfy the conditions of this license)
patent license to make, have made, use, offer to
sell, sell, import, and otherwise transfer this
software, where such license applies only to
those patent claims, already acquired or hereafter
acquired, licensable by such copyright holder or
contributor that are necessarily infringed by:

(a) their Contribution(s) (the licensed
copyrights of copyright holders and
non-copyrightable additions of contributors,
in source or binary form) alone; or

(b) combination of their Contribution(s)
with the work of authorship to which such
Contribution(s) was added by such copyright
holder or contributor, if, at the time the
Contribution is added, such addition causes
such combination to be necessarily infringed.
The patent license shall not apply to any other
combinations which include the Contribution.

Except as expressly stated above, no rights or
licenses from any copyright holder or contributor
is granted under this license, whether expressly,
by implication, estoppel or otherwise.

DISCLAIMER

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS
AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
SUCH DAMAGE.
*/
class DBuffer {

	/* Number of chars excluding the ending 0. */
	unsigned int size;
	unsigned int capacity;
	unsigned char[] data;

	DBuffer(){
		size = 0;
		capacity = 0;
		data = nullptr;
	}

	~DBuffer(){
		delete[] data;
	}

	void* getJsBlob(){
		unsigned char[] start = data;
		unsigned int len = size;
		void* blob;
		constwrite "	blob = new Blob([\n"
			"new Uint8Array(_memory, start, len)]);\n";
		return blob;
	}

	void addSize(unsigned int len, bool copy, bool del){
		unsigned int previousSize = size;
		unsigned int newSize = previousSize + len;
		unsigned int newCapacity = capacity;
		if (newCapacity < newSize){
			unsigned char[] newData;
			if (newCapacity == 0){
				newCapacity = newSize;
				newData = new unsigned char[newCapacity];
			} else {
				newCapacity = newCapacity * 2;
				if (newCapacity < newSize) {newCapacity = newSize;}
				unsigned char[] previousData = data;
				newData = new unsigned char[newCapacity];
				if (copy){
					std::Memory::copy(previousData, 0,
						newData, 0, previousSize);
				}
				if (del) {delete[] previousData;}
			}
			data = newData;
			capacity = newCapacity;
		}
		size = newSize;
	}

	void addU8s(unsigned char[] chars,
		unsigned int start, unsigned int len){
		addSize(len, true, true);
		std::Memory::copy(chars, start, data, size - len, len);
	}

	void addU8(unsigned char setChar){
		addSize(1, true, true);
		data[size - 1] = setChar;
	}

	void addU16BE(unsigned short setShort){
		addSize(2, true, true);
		std::Memory::setU16BE(data, size - 2, setShort);
	}

	void addU16LE(unsigned short setShort){
		addSize(2, true, true);
		std::Memory::setU16LE(data, size - 2, setShort);
	}

	void addU32BE(unsigned int setInt){
		addSize(4, true, true);
		std::Memory::setU32BE(data, size - 4, setInt);
	}

	void addU32LE(unsigned int setInt){
		addSize(4, true, true);
		std::Memory::setU32LE(data, size - 4, setInt);
	}

	void getU8s(unsigned int start,
		unsigned char[] chars, unsigned int i,
		unsigned int len){
		std::Memory::copy(data, start, chars, i, len);
	}

	unsigned char getU8(unsigned int start){
		return data[start];
	}

	unsigned short getU16BE(unsigned int start){
		return std::Memory::getU16BE(data, start);
	}

	unsigned short getU16LE(unsigned int start){
		return std::Memory::getU16LE(data, start);
	}

	unsigned int getU32BE(unsigned int start){
		return std::Memory::getU32BE(data, start);
	}

	unsigned int getU32LE(unsigned int start){
		return std::Memory::getU32LE(data, start);
	}

	void clear(){
		size = 0;
	}

}